body{
    background-color: #2c3347;
    color: #fff;
}
h1{
    font-size: 48px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 200;
    text-align: center;
    padding: 0 60px;
    margin: 0;
}

.stopwatch{
    display: grid;
    justify-items: center;
    grid-row-gap: 25px;
    width: 100%;
    padding-top: 25px;
    overflow: hidden;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 2px solid;
}

.time{
    font-family: 'Roboto Mono',monospace;
    font-size: 48px;
    font-weight: 300;
}
.control{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
button{
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}

#playButton{
    display: block;
}

#pauseButton{
    display: none;
}